@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp{
  --rdp-accent-color: #BEF264; /* Accent color for the background of selected days. */
  --rdp-background-color: #6a8538; /* Background color for the hovered/focused elements. */
  --rdp-selected-color: #000; /* Color of selected day text */
}

  input {
    color-scheme:dark;
  }

body {
  background: rgb(39, 39, 42);
  color: rgb(244 244 245);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
